################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter1/.vs/Chapter1/v15
/Chapter1/Chapter1/obj/Debug/Chapter1.csproj.CoreCompileInputs.cache
/Chapter1/Chapter1/obj/Debug/Chapter1.csprojAssemblyReference.cache
