################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter1/Chapter1/bin/Debug/Chapter1.vshost.exe.manifest
